/* maine's page The logo   -  start */
/* line 2, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
.main-logo {
  margin-left: initial;
  margin-top: 112px;
}

/* line 7, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
.menu-icon {
  margin-top: 18px;
  background-color: #0000006b;
  -webkit-box-shadow: 0 0 35px;
          box-shadow: 0 0 35px;
}

/* maine's page The logo   -  finish */
/* -- END OUTPUT from.  Block name has the work-dwetalis  -  start */
/* line 16, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
.work-details {
  bottom: 91px;
}

/* -- END OUTPUT from.  Block name has the work-dwetalis  -  finish */
/* footer menu location -  start   */
/* line 22, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
.footer-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 27, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
.footer-menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 62px 1fr;
  grid-template-rows: 62px 1fr;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  width: initial;
}
.footer-menu > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.footer-menu > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.footer-menu > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.footer-menu > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.footer-menu > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.footer-menu > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
}

/* line 37, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
.footer-menu > button:first-child {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1   /   4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1   /   2;
  margin-bottom: initial;
}

/* line 44, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
.footer-menu > ul:nth-child(2) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1  /  2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2  /  3;
}

/* line 48, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
.footer-menu > ul:nth-child(3) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2  /  3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2  /  3;
}

/* line 52, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
.footer-menu > ul:nth-child(4) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3  /  4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2  /  3;
}

/* line 59, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
.footer-menu > button:first-child,
.footer-menu > ul {
  width: initial;
}

/* line 64, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
.footer-menu > ul {
  padding-top: 5px;
}

/* line 70, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
.footer-menu .footer-menu-list > li a {
  line-height: 16px;
  font-size: 12px;
}

/* line 78, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
.location {
  width: initial;
}

/* footer menu location -  finish   */
@media screen and (min-width: 575.5px) {
  /* footer menu location -  start   */
  /* line 90, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .footer-menu .footer-menu-list > li a {
    line-height: 26px;
    font-size: initial;
  }
  /* footer menu location -  finish   */
}

@media screen and (min-width: 767.5px) {
  /* footer menu location -  start  */
  /* line 104, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .footer-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  /* line 108, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .footer-menu {
    display: initial;
  }
  /* line 116, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .footer-menu .footer-menu-list > li a {
    line-height: 18px;
    font-size: 14px;
    letter-spacing: 2px;
  }
  /* footer menu location -  finish   */
}
