/* line 1, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
.preview {
  z-index: 3;
}

/* line 2, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
.options, .preview-pic {
  z-index: 4;
}

/* line 3, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
.description {
  z-index: 3;
}

/* line 4, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
.open-description {
  z-index: 1;
}

@media screen and (max-width: 1200px) {
  /*The  Block the header in product page - start*/
  /* line 8, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .gallery-btn-wrapper.gallery-btn-right {
    right: 58%;
    left: initial;
    width: 100%;
  }
  /* line 13, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .gallery-btn-wrapper.gallery-btn-right .product-btn {
    margin: 0 auto;
  }
  /*The  Block the header in product page - finish*/
  /* maine's page The logo   -  start */
  /* line 24, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .one-sidebar .main-logo,
  .no-sidebar .main-logo {
    margin: 113px auto 0 auto;
    margin-top: 112px;
  }
  /* line 30, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .one-sidebar .menu-icon,
  .no-sidebar .menu-icon {
    margin-top: 18px;
  }
  /* line 44, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .page-catalog.one-sidebar .menu-icon,
  .page-contacts.one-sidebar .menu-icon,
  .page-e.one-sidebar .menu-icon,
  .page-masters.one-sidebar .menu-icon,
  .section-news.one-sidebar .menu-icon,
  .page-news.one-sidebar .menu-icon,
  .page-partners.one-sidebar .menu-icon,
  .section-partners.one-sidebar .menu-icon,
  .section-node.one-sidebar .menu-icon {
    margin-top: initial;
  }
  /* maine's page The logo   -  finish */
  /* -- END OUTPUT from.  The Block name has the work-dwetalis  -  start */
  /* line 52, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .work-details {
    bottom: 140px;
  }
  /* -- END OUTPUT from.  The Block name has the work-dwetalis  -  finish */
  /* The about name page. The Block the footer menu location -  start   */
  /* line 59, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /* line 64, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .footer-menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 62px 1fr;
    grid-template-rows: 62px 1fr;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
    width: initial;
  }
  .footer-menu > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .footer-menu > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .footer-menu > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  .footer-menu > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .footer-menu > *:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .footer-menu > *:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-column: 5;
  }
  /* line 71, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .footer-menu > button:first-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1   /   4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1   /   2;
    margin-bottom: initial;
  }
  /* line 78, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .footer-menu > ul:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1  /  2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2  /  3;
  }
  /* line 82, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .footer-menu > ul:nth-child(3) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2  /  3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2  /  3;
  }
  /* line 86, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .footer-menu > ul:nth-child(4) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3  /  4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2  /  3;
  }
  /* line 93, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .footer-menu > button:first-child,
  .footer-menu > ul {
    width: initial;
  }
  /* line 98, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .footer-menu > ul {
    padding-top: 5px;
  }
  /* line 104, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .footer-menu .footer-menu-list > li a {
    line-height: 16px;
    font-size: 12px;
  }
  /* line 112, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .location {
    width: initial;
  }
  /*  The about name page. The Block the footer menu location-  finish   */
  /* The Masters name page. Block the iframe - start */
  /* line 121, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  iframe {
    display: inline-block;
    width: 100%;
    height: outo;
    overflow: hidden;
  }
  /* The Masters name page. Block the iframe - finish */
  /* The main block with a photo product of the product page - start*/
  /* line 131, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .d-flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  /* line 135, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .icon-banner {
    position: unset;
  }
  /* The main block with a photo product of the product page - finish*/
  /* The portfolio name this of page. Bacground-imege style -start */
  /* line 144, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .swiper-slide > div {
    height: inherit;
  }
  /* line 151, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .swiper-slide > div.work-details {
    height: auto;
  }
  /* The portfolio name this of page. Bacground-imege style -finish */
  /* the product page - start */
  /* line 158, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .preview {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 3;
  }
  /* line 162, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .variation-item,
  .options {
    line-height: 1.7em;
  }
  /* line 167, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .options {
    padding-top: 15px;
  }
  /* line 171, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .options,
  .preview-pic {
    width: 100%;
  }
  /* line 177, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .default__variations {
    width: initial;
    justify-items: stretch;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    row-gap: 15px;
  }
  /* line 185, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .default__variations div {
    height: auto;
  }
  /* line 188, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .default__variations > div {
    width: 100%;
  }
  /* line 192, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .default__variations a {
    line-height: 20px;
    font-size: 16px;
  }
  /* line 195, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .default__variations a:hover {
    font-size: 18px;
  }
  /* line 203, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .product-button-wrap {
    padding-top: initial;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    width: 100%;
  }
  /* line 209, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .default__price {
    line-height: 38px;
    margin-bottom: 87px;
  }
  /* line 213, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .description {
    top: -53px;
    right: initial;
    height: 50px;
  }
  /* line 220, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .open-description {
    top: -58px;
    right: calc(100% / 2 - 84.5px);
    padding-left: 30px;
  }
  /* line 229, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .default__tekhnicheskaya-informaciya article {
    line-height: 38px;
  }
  /* line 234, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .default__tekhnicheskaya-informaciya > div > article {
    width: 100%;
  }
  /* line 239, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .document__media-document {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    justify-items: stretch;
  }
  /* line 245, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .document__media-document :last-child {
    width: calc(100% - 11px);
    height: 55px;
    margin-right: 60px;
  }
  /* line 253, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .document__media-document :last-child a:hover {
    font-size: 17px;
  }
  /* line 260, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .file--application-pdf {
    width: 100%;
  }
  /* line 263, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .file--application-pdf a {
    line-height: 38px;
  }
  /* line 266, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .file--application-pdf a:after {
    right: calc(100% / 2 - 120.5px);
    top: -40px;
    z-index: 6;
  }
  /* The main block with a photo product of the product page - start*/
  /* line 275, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .icon-banner {
    left: 0;
    z-index: 6;
    margin-left: 10px;
  }
  /* The main block with a photo product of the product page - finish*/
  /* line 282, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .icon-banner-item:not(:last-child) {
    margin-right: 1em;
  }
  /* line 287, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .default__soputstvuyuschie {
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
  }
  /* line 289, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .default__soputstvuyuschie > div {
    width: 100%;
  }
  /* line 292, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .default__soputstvuyuschie article {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.5fr 1fr;
    grid-template-columns: 1.5fr 1fr;
    -ms-grid-rows: 35px 285px 1fr 40px;
    grid-template-rows: 35px 285px 1fr 40px;
    width: initial;
    padding: initial;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
  }
  .default__soputstvuyuschie article > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .default__soputstvuyuschie article > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .default__soputstvuyuschie article > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .default__soputstvuyuschie article > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .default__soputstvuyuschie article > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .default__soputstvuyuschie article > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .default__soputstvuyuschie article > *:nth-child(7) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .default__soputstvuyuschie article > *:nth-child(8) {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }
  /* line 300, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .default__soputstvuyuschie article > * {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1  /  4;
  }
  /* line 304, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .default__soputstvuyuschie article > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1  /  2;
    margin: initial;
  }
  /* line 308, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .default__soputstvuyuschie article > *:nth-child(1) > a {
    line-height: 38px;
  }
  /* line 313, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .default__soputstvuyuschie article > *:nth-child(2) {
    display: none;
  }
  /* line 316, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .default__soputstvuyuschie article > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3  /  4;
  }
  /* line 320, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .default__soputstvuyuschie article > *:nth-child(4) {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4  /  5;
  }
  /* line 324, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .default__soputstvuyuschie article > *:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2  /  3;
    width: 100%;
    justify-items: center;
  }
  /* line 332, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .document__media-document,
  .default__variations,
  .default__price,
  .default__title {
    padding: 0 0 0px 10px;
  }
  /* line 340, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .visually-hidden {
    margin: 0 0px 0px 10px;
    display: none;
  }
  /* line 343, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .breadcrumb {
    padding: 0 0 20px 10px;
  }
  /* the product page - finish */
}

@media (min-width: 575.5px) and (max-width: 1200px) {
  /*The  Block the header in product page - start*/
  /* line 353, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .gallery-btn-wrapper.gallery-btn-right {
    right: initial;
  }
  /*The  Block the header in product page - finish*/
  /*  The about name page. The Block the footer menu location -  start   */
  /* line 364, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .footer-menu .footer-menu-list > li a {
    line-height: 26px;
    font-size: initial;
  }
  /*  The about name page. Block the footer menu location -  finish   */
  /* The main block with a photo product of the product page - start*/
  /* line 375, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .preview-pic {
    padding-top: 30px;
  }
  /* line 377, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .icon-banner {
    margin-left: 10px;
    position: absolute;
    max-width: 325px;
  }
  /* The main block with a photo product of the product page - finish*/
}

@media screen and (min-width: 767.01px) and (max-width: 1200px) {
  /*  The about name page. Block the footer menu location -  start  */
  /* line 388, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .footer-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  /* line 392, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .footer-menu {
    display: initial;
  }
  /* line 400, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .footer-menu .footer-menu-list > li a {
    line-height: 18px;
    font-size: 14px;
    letter-spacing: 2px;
  }
  /*  The about name page. Block the footer menu location -  finish   */
  /* the product page - start */
  /* line 411, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .preview {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  /* line 415, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .preview-pic {
    -webkit-box-flex: 0.5;
        -ms-flex-positive: 0.5;
            flex-grow: 0.5;
    min-width: 274px;
    width: 16.3%;
    padding-top: 25px;
    height: auto;
    min-height: 420px;
  }
  /* line 426, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .default__variations {
    justify-items: initial;
    row-gap: initial;
    width: 100%;
  }
  /* line 430, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .default__variations div {
    height: auto;
  }
  /* line 433, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .default__variations > div {
    width: 50%;
  }
  /* line 437, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .default__variations a {
    line-height: 45px;
    font-size: 16px;
  }
  /* line 443, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .options {
    width: 68.6%;
    max-width: 640px;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
  /* line 451, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .default__tekhnicheskaya-informaciya > div > article {
    width: initial;
    line-height: 1.4em;
  }
  /* line 458, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .document__media-document {
    display: block;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    -ms-flex-wrap: initial;
        flex-wrap: initial;
    justify-items: initial;
  }
  /* line 464, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .document__media-document :last-child {
    width: 100%;
    max-width: 497px;
    height: initial;
    margin-right: 0px;
  }
  /* line 471, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .document__media-document :last-child a:hover {
    font-size: initial;
  }
  /* line 478, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .file--application-pdf a {
    width: 497px;
    height: 30px;
    margin-right: 0px;
  }
  /* line 483, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .file--application-pdf a:after {
    right: calc(100% / 2 - 240.5px);
    top: 5px;
  }
  /* line 490, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .description {
    top: initial;
    right: initial;
    height: initial;
  }
  /* line 496, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .default__soputstvuyuschie {
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  /* line 498, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .default__soputstvuyuschie > div {
    width: initial;
  }
  /* line 501, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .default__soputstvuyuschie article {
    display: block;
    -ms-grid-columns: initial;
    grid-template-columns: initial;
    -ms-grid-rows: initial;
    grid-template-rows: initial;
    width: 294px;
    padding-top: 55px;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    padding-left: 408px;
  }
  .default__soputstvuyuschie article > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  /* line 509, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .default__soputstvuyuschie article * {
    grid-column: initial;
  }
  /* line 512, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .default__soputstvuyuschie article *:nth-child(1) {
    grid-row: initial;
    margin: 0 0 20px;
    width: 380px;
  }
  /* line 517, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .default__soputstvuyuschie article *:nth-child(1) > a {
    line-height: 1.4em;
  }
  /* line 522, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .default__soputstvuyuschie article > *:nth-child(2) {
    display: block;
  }
  /* line 525, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .default__soputstvuyuschie article *:nth-child(3),
  .default__soputstvuyuschie article *:nth-child(4),
  .default__soputstvuyuschie article *:nth-child(5) {
    grid-row: initial;
  }
  /* the product page - finish */
}

@media (min-width: 767.01px) and (max-width: 981px) {
  /* the product page - start */
  /* line 546, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .options {
    width: 100%;
    max-width: 332px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  /* line 548, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .default__variations {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    max-width: 330px;
  }
  /* line 550, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .default__variations > div {
    width: 100%;
  }
  /* the product page - finish */
}

@media screen and (min-width: 1200.01px) {
  /* line 560, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .file--application-pdf a {
    width: initial;
    max-width: 304px;
  }
  /* line 564, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .file--application-pdf a:after {
    right: 0;
    background-size: 30px auto;
  }
}

@media screen and (min-width: 1300px) {
  /* line 579, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .file--application-pdf a:after {
    display: none;
  }
}

@media screen and (min-width: 1700px) {
  /* line 588, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .file--application-pdf a:after {
    display: inline-block;
    right: -43px;
  }
}
