/* maine's page The logo   -  start */
/* line 6, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
.one-sidebar .main-logo,
.no-sidebar .main-logo {
  margin-left: initial;
  margin-top: 112px;
}

/* line 12, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
.one-sidebar .menu-icon,
.no-sidebar .menu-icon {
  margin-top: 18px;
  background-color: #0000006b;
  -webkit-box-shadow: 0 0 35px;
          box-shadow: 0 0 35px;
}

/* maine's page The logo   -  finish */
/* -- END OUTPUT from.  Block name has the work-dwetalis  -  start */
/* line 22, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
.work-details {
  bottom: 91px;
}

/* -- END OUTPUT from.  Block name has the work-dwetalis  -  finish */
/* The about name page. Block the footer menu location -  start   */
/* line 28, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
.footer-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 33, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
.footer-menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 62px 1fr;
  grid-template-rows: 62px 1fr;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  width: initial;
}
.footer-menu > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.footer-menu > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.footer-menu > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.footer-menu > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.footer-menu > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.footer-menu > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
}

/* line 43, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
.footer-menu > button:first-child {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1   /   4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1   /   2;
  margin-bottom: initial;
}

/* line 50, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
.footer-menu > ul:nth-child(2) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1  /  2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2  /  3;
}

/* line 54, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
.footer-menu > ul:nth-child(3) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2  /  3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2  /  3;
}

/* line 58, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
.footer-menu > ul:nth-child(4) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3  /  4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2  /  3;
}

/* line 65, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
.footer-menu > button:first-child,
.footer-menu > ul {
  width: initial;
}

/* line 70, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
.footer-menu > ul {
  padding-top: 5px;
}

/* line 76, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
.footer-menu .footer-menu-list > li a {
  line-height: 16px;
  font-size: 12px;
}

/* line 84, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
.location {
  width: initial;
}

/*  The about name page. Block the footer menu location-  finish   */
@media screen and (min-width: 575.5px) {
  /*  The about name page. Block the footer menu location -  start   */
  /* line 96, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .footer-menu .footer-menu-list > li a {
    line-height: 26px;
    font-size: initial;
  }
  /*  The about name page. Block the footer menu location -  finish   */
}

/* The portfolio name this of page. Bacground-imege style -start */
/* line 110, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
.swiper-slide > div {
  height: inherit;
}

/* The portfolio name this of page. Bacground-imege style -finish */
/* the gallery from the Node of page - start */
/* the gallery from the Node of page - finish */
@media screen and (min-width: 767.5px) {
  /*  The about name page. Block the footer menu location -  start  */
  /* line 128, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .footer-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  /* line 132, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .footer-menu {
    display: initial;
  }
  /* line 140, D:/OpenServer/domains/kamenevgrou.loc/themes/custom/kamenev/scss/correction.scss */
  .footer-menu .footer-menu-list > li a {
    line-height: 18px;
    font-size: 14px;
    letter-spacing: 2px;
  }
  /*  The about name page. Block the footer menu location -  finish   */
}
